QDRANT_URL=https://your-qdrant-endpoint.europe-west3-0.gcp.cloud.qdrant.io
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.VAtJQsvVE-VRA9FKzj97QcFzJfDuq_l2yLojU0ks6QE"
QDRANT_COLLECTION=GenLab
EMBEDDING_MODEL=nomic-embed-text
GROQ_API_KEY="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"
OLLAMA_BASE_URL=http://host.docker.internal:11434
